<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="chocolateygui" />
  <package id="die" />
  <package id="ghidra" />
  <package id="GoogleChrome" />
  <package id="sysinternals" />
  <package id="teraterm" />
  <package id="vscode.install" />
  <package id="winmerge-jp" />
</packages>
